@model IEnumerable<SanPham>

    <!--Danh sach San pham -->
    <div class="row ">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="product-item">
                <div class="product-title">
                    <a asp-action="ProductDetail" asp-controller="Home" asp-route-masp="@item.MaSanPham">@item.TenSanPham</a>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="product-image">
                    <a href="#">
                        <img src="@Url.Content("../Image/SanPham/" + item.HinhAnhSanPham)" alt="Product Image">
                    </a>
                    <div class="product-action">
                        @* <a href="#"><i class="fa fa-cart-plus"></i></a> *@
                        @* <a href="#"><i class="fa fa-heart"></i></a> *@
                        <a asp-action="ChiTiet" asp-controller="SanPham" asp-route-masp="@item.MaSanPham"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-price">
                    <!--
                        <h3 style="">@Convert.ToDecimal(item.GiaToiThieu).ToString("#,##0")<span>đ</span></h3>
                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                    -->
                    <h3>@Convert.ToDecimal(item.GiaToiThieu).ToString("#,##0")đ</h3>
                    <h5 style="text-decoration: line-through; float: right;">@Convert.ToDecimal(item.GiaToiDa).ToString("#,##0")</h5>


                </div>
            </div>
        </div>

    }
</div>
<div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" id="pagination">
                               
                                @{
                                    int currentPage = ViewBag.pageIndex == null ? 1 : ViewBag.pageIndex ;
                                    int totalPages = ViewBag.pageNum;
                                    int startPage = Math.Max(1, currentPage - 1);
                                    int endPage = Math.Min(totalPages, currentPage + 1);

                                    if (endPage - startPage < 2)
                                    {
                                        startPage = Math.Max(1, endPage - 2);
                                        endPage = Math.Min(totalPages, startPage + 2);
                                    }
                                }

                                @if (startPage > 1)
                                {
                                     <li class="page-item" page='1'><a class="page-link page-btn" href="#" data-page="1" @(ViewBag.maloai != null ? $"maloai = {ViewBag.maloai}" : "")
                                     @(ViewBag.TenTK != null ? $"tentk = {ViewBag.TenTK}" : "") @(ViewBag.loaisx != null ? $"loaisx = {ViewBag.loaisx}" : "") >1</a>
                                     </li>
                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                }


                                @for (int i = startPage; i <= endPage; i++)
                                {
                                    <li class="page-item" @(i == currentPage ? "active" : "") >
                                     <a class="page-link page-btn" href="#" data-page="@i" @(i == currentPage ? "active" : "") @(ViewBag.maloai != null ? $"maloai = {ViewBag.maloai}" : "")
                                         @(ViewBag.TenTK != null ? $"tentk = {ViewBag.TenTK}" : "") @(ViewBag.loaisx != null ? $"loaisx = {ViewBag.loaisx}" : "") >@i</a>
                                    </li>
                                }

                                @if (endPage < totalPages)
                                {
                                    <li class="page-item disabled" ><span class="page-link">...</span></li>
                                    <li class="page-item" >
                                         <a class="page-link page-btn" href="#" data-page="@totalPages" @(ViewBag.maloai != null ? $"maloai = {ViewBag.maloai}" : "")
                                         @(ViewBag.TenTK != null ? $"tentk = {ViewBag.TenTK}" : "") @(ViewBag.loaisx != null ? $"loaisx = {ViewBag.loaisx}" : "") >@totalPages</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

    <!-- Pagination Start -->

    <!-- Pagination Start -->
